In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [23]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [25]:
#資料的 row 數以及 column 數
print(app_train.shape)

(307511, 122)

In [51]:
#列出所有欄位
print(app_train.columns.tolist())

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [74]:
#截取部分資料
print(app_train[1000:1005])
print(app_train[['AMT_INCOME_TOTAL','AMT_ANNUITY']])
print(app_train.tail(5))

      SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
1000      101157       0         Cash loans           F            Y
1001      101158       0    Revolving loans           M            Y
1002      101159       0         Cash loans           M            Y
1003      101161       0         Cash loans           F            N
1004      101162       0         Cash loans           F            N

     FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
1000               Y             0          135000.0    679500.0      22585.5
1001               Y             0          180000.0    180000.0       9000.0
1002               Y             0           99000.0    545040.0      20677.5
1003               N             0          135000.0   1546020.0      47038.5
1004               Y             1           99000.0    746271.0      31747.5

                 ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
1000             ...                             0                0
1001             ...                             0                0
1002             ...                             0                0
1003             ...                             0                0
1004             ...                             0                0

     FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
1000                0                0                        0.0
1001                0                0                        0.0
1002                0                0                        0.0
1003                0                0                        NaN
1004                0                0                        0.0

     AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
1000                       0.0                         0.0
1001                       0.0                         0.0
1002                       0.0                         0.0
1003                       NaN                         NaN
1004                       0.0                         0.0

      AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
1000                        0.0                        0.0
1001                        0.0                        0.0
1002                        0.0                        0.0
1003                        NaN                        NaN
1004                        0.0                        1.0

      AMT_REQ_CREDIT_BUREAU_YEAR
1000                         0.0
1001                         1.0
1002                         1.0
1003                         NaN
1004                         0.0

[5 rows x 122 columns]
        AMT_INCOME_TOTAL  AMT_ANNUITY
0             202500.000      24700.5
1             270000.000      35698.5
2              67500.000       6750.0
3             135000.000      29686.5
4             121500.000      21865.5
5              99000.000      27517.5
6             171000.000      41301.0
7             360000.000      42075.0
8             112500.000      33826.5
9             135000.000      20250.0
10            112500.000      21177.0
11             38419.155      10678.5
12             67500.000       5881.5
13            225000.000      28966.5
14            189000.000      32778.0
15            157500.000      20160.0
16            108000.000      26149.5
17             81000.000      13500.0
18            112500.000       7875.0
19             90000.000      17563.5
20            135000.000      21375.0
21            202500.000      37561.5
22            450000.000      32521.5
23             83250.000      23850.0
24            135000.000      12703.5
25             90000.000      11074.5
26            112500.000      27076.5
27            112500.000      23827.5
28            270000.000      57676.5
29             90000.000       9000.0
...                  ...          ...
307481        225000.000      19975.5
307482        225000.000      34969.5
307483         99000.000      16479.0
307484        540000.000      35617.5
307485        270000.000       9000.0
307486        292500.000      18283.5
307487        117000.000      31473.0
307488        157500.000      13351.5
307489        225000.000      23089.5
307490         81000.000       9148.5
307491         90000.000      31522.5
307492        585000.000      43443.0
307493        135000.000      37678.5
307494        270000.000      46858.5
307495        180000.000      23773.5
307496        360000.000      16875.0
307497        180000.000      12028.5
307498        198000.000      52168.5
307499         81000.000      12694.5
307500        261000.000      35982.0
307501         81000.000      11871.0
307502         94500.000      10620.0
307503        112500.000      17770.5
307504        153000.000      16096.5
307505        112500.000      22050.0
307506        157500.000      27558.0
307507         72000.000      12001.5
307508        153000.000      29979.0
307509        171000.000      20205.0
307510        157500.000      49117.5

[307511 rows x 2 columns]
        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
307506      27558.0             ...                             0
307507      12001.5             ...                             0
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
307506                0                0                0
307507                0                0                0
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
307506                        NaN                       NaN
307507                        NaN                       NaN
307508                        1.0                       0.0
307509                        0.0                       0.0
307510                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[5 rows x 122 columns]