In [19]:
import os
import numpy as np
import pandas as pd

In [20]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test  = pd.read_csv(f_app_test)

In [21]:
#檢視資料中各個欄位類型的數量
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [22]:
#檢視資料中類別型欄位各自類別的數量
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [23]:
#Label encoding
from sklearn.preprocessing import LabelEncoder

In [24]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            print(app_train[col].head(10))
            le.fit(app_train[col])
            print(app_train[col].head(10))
            # Transform both training and testing data
            
            app_train[col] = le.transform(app_train[col])
            print(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)
print(app_train['FLAG_OWN_CAR'])

0         Cash loans
1         Cash loans
2    Revolving loans
3         Cash loans
4         Cash loans
5         Cash loans
6         Cash loans
7         Cash loans
8         Cash loans
9    Revolving loans
Name: NAME_CONTRACT_TYPE, dtype: object
0         Cash loans
1         Cash loans
2    Revolving loans
3         Cash loans
4         Cash loans
5         Cash loans
6         Cash loans
7         Cash loans
8         Cash loans
9    Revolving loans
Name: NAME_CONTRACT_TYPE, dtype: object
0         0
1         0
2         1
3         0
4         0
5         0
6         0
7         0
8         0
9         1
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        1
18        1
19        0
20        1
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        1
         ..
307481    0
307482    0
307483    0
307484    0
307485    1
307486    0
307487    0
307488    0
307489    0
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    1
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    0
307510    0
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: int32
0    N
1    N
2    Y
3    N
4    N
5    N
6    Y
7    Y
8    N
9    N
Name: FLAG_OWN_CAR, dtype: object
0    N
1    N
2    Y
3    N
4    N
5    N
6    Y
7    Y
8    N
9    N
Name: FLAG_OWN_CAR, dtype: object
0         0
1         0
2         1
3         0
4         0
5         0
6         1
7         1
8         0
9         0
10        0
11        0
12        0
13        1
14        0
15        1
16        0
17        0
18        0
19        0
20        1
21        1
22        0
23        0
24        1
25        0
26        0
27        0
28        1
29        0
         ..
307481    0
307482    1
307483    0
307484    1
307485    0
307486    1
307487    0
307488    0
307489    0
307490    0
307491    1
307492    1
307493    0
307494    1
307495    1
307496    0
307497    1
307498    1
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    0
307510    0
Name: FLAG_OWN_CAR, Length: 307511, dtype: int32
0    Y
1    N
2    Y
3    Y
4    Y
5    Y
6    Y
7    Y
8    Y
9    Y
Name: FLAG_OWN_REALTY, dtype: object
0    Y
1    N
2    Y
3    Y
4    Y
5    Y
6    Y
7    Y
8    Y
9    Y
Name: FLAG_OWN_REALTY, dtype: object
0         1
1         0
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        0
14        1
15        1
16        0
17        1
18        1
19        1
20        1
21        1
22        0
23        1
24        0
25        1
26        1
27        1
28        1
29        1
         ..
307481    1
307482    1
307483    1
307484    0
307485    1
307486    1
307487    1
307488    0
307489    1
307490    1
307491    1
307492    1
307493    1
307494    0
307495    0
307496    0
307497    1
307498    1
307499    1
307500    1
307501    1
307502    1
307503    1
307504    1
307505    1
307506    0
307507    1
307508    1
307509    1
307510    0
Name: FLAG_OWN_REALTY, Length: 307511, dtype: int32
3 columns were label encoded.
0         0
1         0
2         1
3         0
4         0
5         0
6         1
7         1
8         0
9         0
10        0
11        0
12        0
13        1
14        0
15        1
16        0
17        0
18        0
19        0
20        1
21        1
22        0
23        0
24        1
25        0
26        0
27        0
28        1
29        0
         ..
307481    0
307482    1
307483    0
307484    1
307485    0
307486    1
307487    0
307488    0
307489    0
307490    0
307491    1
307492    1
307493    0
307494    1
307495    1
307496    0
307497    1
307498    1
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    0
307510    0
Name: FLAG_OWN_CAR, Length: 307511, dtype: int32

In [25]:
# One Hot encoding
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

#可以觀察到原來的類別型欄位都轉為 0/1 了

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8